In [1]:
# Include this line in case the figures not show up in the web page
%matplotlib inline 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
trainset = pd.read_csv("train.csv")
testset = pd.read_csv("testset.csv")

#Creating DataFrames for training and testing
df_train = pd.DataFrame(data = trainset)
df_test = pd.DataFrame(data = testset)

In [3]:
trainset.head(5)

,tweetId,tweetText,userId,imageId(s),username,timestamp,label
0,2.630000e+17,�Se acuerdan de la pel�cula: �El d�a despu�s d...,21226711.0,sandyA_fake_46,iAnnieM,Mon Oct 29 22:34:01 +0000 2012,fake
1,2.630000e+17,@milenagimon: Miren a Sandy en NY! Tremenda i...,192378571.0,sandyA_fake_09,CarlosVerareal,Mon Oct 29 19:11:23 +0000 2012,fake
2,2.630000e+17,"Buena la foto del Hurac�n Sandy, me recuerda a...",132303095.0,sandyA_fake_09,LucasPalape,Mon Oct 29 18:11:08 +0000 2012,fake
3,2.630000e+17,Scary shit #hurricane #NY http://t.co/e4JLBUfH,241995902.0,sandyA_fake_29,Haaaaarryyy,Mon Oct 29 19:15:33 +0000 2012,fake
4,2.630000e+17,My fave place in the world #nyc #hurricane #sa...,250315890.0,sandyA_fake_15,princess__natt,Mon Oct 29 20:46:02 +0000 2012,fake

In [5]:
df_train['imageId(s)'].value_counts()

sandyA_fake_29                   1115
sandyA_fake_42                    721
sandyA_fake_11                    635
sandyB_real_59                    634
sandyB_real_71                    584
                                 ...
columbianChemicals_fake_14          1
boston_real_04,boston_real_24       1
boston_fake_22                      1
sandyB_real_89                      1
malaysia_fake_17                    1
Name: imageId(s), Length: 379, dtype: int64

In [6]:
testset.head(5)

,tweetId,tweetText,userId,imageId(s),username,timestamp,label
0,5.788550e+17,kereeen RT @Shyman33: Eclipse from ISS.... htt...,7.082497e+07,eclipse_01,peay_s,Fri Mar 20 09:45:43 +0000 2015,fake
1,5.788750e+17,Absolutely beautiful! RT @Shyman33: Eclipse fr...,3.447070e+08,eclipse_01,JaredUcanChange,Fri Mar 20 11:04:02 +0000 2015,fake
2,5.788910e+17,�@Shyman33: Eclipse from ISS.... http://t.co/C...,2.248396e+08,eclipse_01,tpjp1231,Fri Mar 20 12:10:06 +0000 2015,fake
3,5.788470e+17,Eclipse from ISS.... http://t.co/En87OtvsU6,1.345431e+08,eclipse_01,Shyman33,Fri Mar 20 09:12:41 +0000 2015,fake
4,5.789750e+17,@ebonfigli: �clipse vue de l'ISS... Autre chos...,1.150729e+09,eclipse_01,Epimethee_,Fri Mar 20 17:44:11 +0000 2015,fake

In [7]:
df_test.shape #Size of testing data

(3781, 7)

In [8]:
df_train.shape #Size of testing data

(14483, 7)

# Data Characteruzation

In [9]:
trainset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14483 entries, 0 to 14482
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweetId     14483 non-null  float64
 1   tweetText   14483 non-null  object
 2   userId      14469 non-null  float64
 3   imageId(s)  14469 non-null  object
 4   username    14469 non-null  object
 5   timestamp   14469 non-null  object
 6   label       14469 non-null  object
dtypes: float64(2), object(5)
memory usage: 792.2+ KB

In [ ]:
# # displaying the datatypes
# display(df.dtypes)
  
# # converting 'Weight' and 'Salary' from float to int
# df = df.astype({"Weight":'int', "Salary":'int'}) 
  
# # displaying the datatypes
# display(df.dtypes)

# #####################################################################################################
# # displaying the datatypes
# display(df.dtypes)
  
# # converting 'Weight' from float to int
# df_train['tweetID'] = df['tweetID'].astype(int)
  
# # displaying the datatypes
# display(df.dtypes)

In [11]:
df_train['userId'] = df_train['userId'].fillna(0)

In [12]:

display(df_train.dtypes)
df_train['tweetId'] = df_train['tweetId'].apply(np.int64)
df_train['userId'] = df_train['userId'].apply(np.int64)

display(df_train.dtypes)

tweetId       float64
tweetText      object
userId        float64
imageId(s)     object
username       object
timestamp      object
label          object
dtype: object

tweetId        int64
tweetText     object
userId         int64
imageId(s)    object
username      object
timestamp     object
label         object
dtype: object

In [13]:
testset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3781 entries, 0 to 3780
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweetId     3781 non-null   float64
 1   tweetText   3781 non-null   object
 2   userId      3777 non-null   float64
 3   imageId(s)  3777 non-null   object
 4   username    3777 non-null   object
 5   timestamp   3777 non-null   object
 6   label       3777 non-null   object
dtypes: float64(2), object(5)
memory usage: 206.9+ KB

In [19]:
#df_train['new_col'] = df_train['imageId(s)'].apply(lambda x:  x.split('_')[1])

#df_train['new_col'] = df_train['imageId(s)'].apply(lambda x:  x.split('_')[1] if(isinstance(x)) else x)

df_train['new_col'] = df_train['imageId(s)'].apply(lambda x:  x.split('_')[1] if(isinstance(x,str)) else x)

In [22]:
df_train.head(20)
df_train['new_col'].value_counts()

fake    9396
real    5004
02        47
01        18
03         3
04         1
Name: new_col, dtype: int64

In [ ]:
#Determine events covered and their frequency by image names in training data
df_train.rename(columns = {'imageId(s)':'imgs'}, inplace = True)
imgCount = df_train.groupby(df_train.imgs.str.split('_').str[0])['tweetId'].nunique()
print (imgCount)

In [ ]:
#Determine events covered and their frequency by image names in testing data
df_test.rename(columns = {'imageId(s)':'imgs'}, inplace = True)
imgCount = df_test.groupby(df_test.imgs.str.split('_').str[0])['tweetId'].nunique()
print (imgCount)

In [ ]:
#Helper to look into the tweetText of a particular event image to determine what the event is
selector = []
for imgs in df_train['imgs']:
    if "sandy" in imgs:
        selector.append(True)
    else:
        selector.append(False)
        
isEvent = pandas.Series(selector)

df_event = df_train[isEvent].head(61)

for tweet in df_event['tweetText']:
    print(tweet)